.zig-cache/
zig-out/

*.bc

components/compiler-kotlin/*.bendu

settings.json
components/compiler-kotlin/app/src/main/kotlin/io/littlelanguages/bendu/compiler/Instructions.kt
components/compiler-kotlin/app/src/main/kotlin/io/littlelanguages/bendu/compiler/Builtins.kt
components/bci-zig/src/op.zig
components/bci-zig/src/builtins/dispatch.zig
