# Ignore Gradle project-specific cache directory
.gradle
.idea
.kotlin

# Ignore Gradle build output directory
build

app/src/main/kotlin/io/littlelanguages/data
app/src/main/kotlin/io/littlelanguages/scanpiler
app/src/main/kotlin/io/littlelanguages/bendu/parser
app/src/main/kotlin/io/littlelanguages/bendu/cache/parser
